<footer role="contentinfo" class="cv-main-footer">
  <div class="footer-menu -text-center">
    <a href="https://twitter.com/CrowdVoice" class="side">
      <svg>
        <use xlink:href="#svg-twitter-circle"></use>
      </svg>
    </a>
    <a href="/" class="logo -tdn">
      <svg class="cv-main-logo__svg">
        <use xlink:href="#svg-logo"></use>
      </svg>
    </a>
    <a href="https://www.facebook.com/crowdvoice" class="side">
      <svg>
        <use xlink:href="#svg-facebook-circle"></use>
      </svg>
    </a>
    <p class="footer-copy">&copy; Majal, <%= new Date().getFullYear() %>. All Rights Reserved</p>
  </div>
</footer>
