<!--
    Version : <%= CONFIG.gitRevision %>
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="<%= csrfToken %>" name="csrf-token" />
  <title>CrowdVoice.by – A new way to organize information and strengthen movements that matter to you</title>
  <%= renderPartial('shared/favicon.html') %>
  <script type="text/javascript">
  window.currentPerson = <%= JSON.stringify(currentPerson) %>;
  </script>
  <script src="/dist/postShow.js?version=<%= CONFIG.gitRevision %>"></script>
</head>
<body>
  <%= renderPartial('shared/svg/sprite.svg') %>
  <%= yield %>

  <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
    var sc_project=10825689;
    var sc_invisible=1;
    var sc_security="8ec62beb";
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="website
    statistics" href="http://statcounter.com/free-web-stats/"
    target="_blank"><img class="statcounter"
    src="http://c.statcounter.com/10825689/0/8ec62beb/1/"
    alt="website statistics"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->
</body>
</html>
