<a class="oauth-twitter" href="#">Authorize</a>

<script type="text/javascript">
    $('.oauth-twitter').bind('click', function() {
        window.authWindow = window.open('/twitter/oauth', 'name', 'height=600,width=500');

        var interval = window.setInterval(function () {
          try {
            if (authWindow === null || authWindow.closed) {
              window.clearInterval(interval);
              console.log('window closed');
              console.log(authWindow.CV.oauthCallbackHasTwitterCredentials);
            }
          } catch(e) {
            console.log(e);
          }
        }, 1000);

        return false;
    });
</script>
