<main role="main" class="cv-main-content cv-main-profile profile-user profile-page -rel">
  <section class="profile-intro -rel">
    <% if (person.background.exists('big')){ %>
      <div class="profile-background-cover -img-cover" style="background-image: url(<%= person.background.url('big') %>);"></div>
    <% } else { %>
      <div class="profile-background-cover -colored-background"></div>
    <% } %>

    <% if (person.image.exists('medium')){ %>
      <img class="profile-image -color-bg-neutral-x-light" src="<%= person.image.url('medium') %>" alt="<%= person.profileName %>’s profile image" width="160" height="160"/>
    <% } else { %>
      <img class="profile-image" src="/img/entity-placeholder/image_medium.png" alt="<%= person.profileName %>’s profile image" width="160" height="160"/>
    <% } %>

    <div class="pan-separator -rel">
      <div class="profile-tw">@<%= person.profileName %></div>
      <h1 class="profile-heading -font-bold -m0"><%= person.name %></h1>
      <p class="profile-description"><%= person.description || '' %></p>

      <div class="profile-card-activity">
        <% if (person.location){ %>
          <div class="profile-card-activity-repost -inline-block -mr1">
            <svg class="profile-card-activity-svg"><use xlink:href="#svg-location"></use></svg>
            <span class="profile-card-activity-label"><%= person.location %></span>
          </div>
        <% } %>
        <div class="profile-card-activity-saved -inline-block  -mr1 -ml1">
          <svg class="profile-card-activity-svg"><use xlink:href="#svg-clock"></use></svg>
          <span class="profile-card-activity-label user-date"></span>
          <script>
            var userDate = moment(new Date('<%= person.createdAt %>').toISOString()).format('MMMM, YYYY');
            $('.user-date').text('Joined ' + userDate );
          </script>
        </div>
      </div>
    </div>
  </section>

  <div class="stats profile-stats profile-menu bg-fix -row -rel">
    <div class="profile__actions -float-right"></div>
  </div>

  <section class="profile-content-body profile-menu-content -rel"></section>
</main>

<script>
  var App = new CV.App().setup();
  App.addInteractiveSidebar();

  var UserProfile = new CV.Views.UserProfile({
    el : document.querySelector('.profile-page'),
    entity : <%= JSON.stringify(person) %>
  });
</script>
