<main role="main" class="cv-main-content browse-page -rel">
  <section class="page-heading">
    <h1 class="page-heading__title -m0 -inline-block">Browse Featured</h1>
    <div class="profile-menu -row -rel"></div>
  </section>
  <section class="profile-body profile-menu-content -rel"></section>

  <section class="topic-cards-wrapper -pb4">
    <h2 class="discover-category-list-heading -font-light -text-center -mb2">
       <span class="-font-bold">Topics</span>
    </h2>
    <div class="topics-list-row -row"></div>
  </section>

  <section>
    <hr>
    <div class="homepage-category-list-row -row -pt3">
    	<% if (currentPerson){ %>
	    <div class="browse-element widget -col-4">
	    <% } else { %>
	    <div class="browse-element widget -col-6 ">
	    <% } %>
	      	<a class="element_link -tdn" href="/discover/trending/" alt="Trending">
		        <div class="browse-element-button-trending -rel">
		            <svg class="svg-trending -rel">
		            	<linearGradient id="trending-gradient" gradientTransform="rotate(100)">
		            		<stop offset="20%" stop-color="#FF9000" />
		            		<stop offset="100%" stop-color="#FF0000" />
		            	</linearGradient>
		            	<use xlink:href="#svg-trending"></use>
		            </svg>
		          	<p class="-font-bold -rel">Trending</p>
		          	<div class="browse-element-overlay">
		          		<div class="browse-bg-image -img-cover"></div>
		          		<div class="overlay"></div>
		          	</div>
		        </div>
	        </a>
	    </div>
	    <% if (currentPerson){ %>
	    <div class="browse-element widget -col-4">
	    <% } else { %>
	    <div class="browse-element widget -col-6">
	    <% } %>
      	<a class="element_link -tdn" href="/discover/new/" alt="Newest">
	        <div class="browse-element-button-newest -rel">
	            <svg class="svg-new -rel">
	            	<linearGradient id="newest-gradient" gradientTransform="rotate(10)">
	            		<stop offset="0%" stop-color="#297FC2" />
	            		<stop offset="70%" stop-color="#3FA2EE" />
	            		<stop offset="100%" stop-color="#47AFFF" />
	            	</linearGradient>
	            	<use xlink:href="#svg-new"></use>
	            </svg>
	          	<p class="-font-bold -rel">Newest</p>
	          	<div class="browse-element-overlay">
		          	<div class="browse-bg-image -img-cover"></div>
		          	<div class="overlay"></div>
		        </div>
	        </div>
        </a>
      </div>
      <% if (currentPerson){ %>
      <div class="browse-element widget -col-4">
      	<a class="element_link -tdn" href="/discover/recommended/" alt="Recommended">
	        <div class="browse-element-button-recommended -rel">
		        <svg class="svg-recommended -rel">
		        	<linearGradient id="recommended-gradient" gradientTransform="rotate(330)">
		        		<stop offset="10%" stop-color="#429321" />
          				<stop offset="90%" stop-color="#B4EC51" />
		        	</linearGradient>
		        	<use xlink:href="#svg-thumbs-up"></use>
		        </svg>
		        <p class="-font-bold -rel">Recommended</p>
		        <div class="browse-element-overlay">
		          	<div class="browse-bg-image -img-cover"></div>
		          	<div class="overlay"></div>
		        </div>
	        </div>
        </a>
      </div>
      <% } %>
    </div>
  </section>
</main>

<script>
  var App = new CV.App().setup();
  App.addInteractiveSidebar();

  var DiscoverBrowse = new CV.Views.DiscoverBrowse({
    el : document.querySelector('.browse-page'),
    topicsData : <%= JSON.stringify(topics) %>
  });
</script>
