<main role="main" class="cv-main-content discover-page -rel">
  <section class="page-heading">
    <h1 class="page-heading__title -m0 -inline-block">Trending</h1>
    <div class="profile-select-options -inline-block"></div>
    <div class="profile-menu -row -rel"></div>
  </section>

  <section class="profile-body profile-menu-content -rel"></section>
</main>

<script>
  var App = new CV.App().setup();
  App.addInteractiveSidebar();

  var DiscoverTrending = new CV.Views.DiscoverTrending();
</script>
