
<div class="notifications">

</div>

<div class="add-users">
</div>
<br class="-clear-after">

<div class="admin-users-list" id="pos-container" >

	<% featuredEntities.forEach(function(featuredEntity){ %>

		<%
		var entity = featuredEntity.entity;
		if (!entity.deleted) {
		%>

			<div class="admin-user" id="<%= entity.id %>" data-position="<%= featuredEntity.position %>" >

					<div class="admin-info">
						<article role="article" class="card-mini has-meta">
							<a href="/<%= entity.profileName %>" class="-float-left entity-image" data-author-anchor="" title="">
								<img class="card-mini-avatar -rounded" alt="avatar image" width="36" height="36" src="<%= entity.images.small.url %>">
							</a>
							<div class="card-mini-info">
								<div>
									<a href="/<%= entity.profileName %>" class="card-mini-fullname -font-semi-bold -tdn" data-author-anchor="" title="profile">
										<%= entity.name %>
									</a>
									<p class="card-mini-username"> · @<%= entity.profileName %></p>
								</div>
								<div class="card-info-meta">
									<span data="location"><%= entity.location %> · </span>
									<span data="joined-at">Joined on <%= moment(entity.createdAt).format('MMM, YYYY') %></span>
								</div>
							</div>
						</article>
					</div>


					<div class="admin-actions">

						<a href="#" target="_blank"><button class="cv-button action-profile drag-reorder small">Reorder</button></a>
						<a >

							<form class="form-profile" action="/admin/featured/<%= entityType %>/<%= entity.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
	      						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
	      						<input type="hidden" name="entityId" class="entityId" value="<%= entity.id %>">
								<button class="cv-button small">Remove from featured</button>
							</form>

						</a>

					</div>

			</div>

		<% } %>

	<% }); %>




</div>

<script>

	var featuredEntities = <%= JSON.stringify(featuredEntities) %>;

	var entityType = <%= JSON.stringify(entityType) %>;

	var selectedUser;
	var personElBase = $('<div class="person" id=""></div>');

	var headerEl = document.querySelector('header .header-actions');
	headerEl.innerHTML = '<h2>Featured <%= entityType %></h2>';

	var flash = <%= JSON.stringify(flash) %>;

	// Show flash message action
  	if (flash.success){

  		var nEl= document.querySelector('.notifications');
		nEl.innerHTML = '<p>' + flash.success + '</p>';

	  	nEl.style.display = 'block';
	  	setTimeout(function(){
	  		$(nEl).fadeOut(500);
	  	}, 2000);

	}

	dragula([document.querySelector('.admin-users-list')])
		.on('drag', function (el) {
		    el.querySelector('.admin-actions').style.display = "none";
		 })
		.on('drop', function (el) {
		    el.querySelector('.admin-actions').style.display = "inherit";
			reorder();
	 	 });

	// Add search widget
	var searchInput = new CV.InputButton({
		style     : 'primary',
		placeholder : 'Search ' + entityType + '...',
		title     : "Add featured " + entityType,
		buttonLabel : "Add"
	}).render($('.add-users'));
	searchInput.disableButton();

	// Search event
	searchInput.inputEl.find('input').on('keyup', function(e){

		if (e.keyCode == 27) {
			searchInput.reset();
		}

	    var searchStr = $(this).val().toLowerCase();
	    var inputSearch = $(this);

	    if (searchStr == ""){
	      searchInput.element.find('.search-results').hide();
	      return false;
	    }

	    $.ajax({
	      type: "POST",
	      url:'/admin/featured/' + entityType + '/search',
	      headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
	      data : {query : searchStr},
	      success: function(data) {

	        if (data[entityType].length > 0){

	          searchInput.element.find('.search-results').show();
	          showUsers(data[entityType]);

	        } else {

	          searchInput.element.find('.search-results').hide();
	          if ( inputSearch.val() != "" ){
	            searchInput.disableButton();
	          }

	        }
          }
	    });

	});

	// Invite event
	searchInput.buttonEl.on('click', function(){

		$.ajax({
			type: "POST",
            url : '/admin/featured/' + entityType + '/new',
			headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
			data : {
				entityId : selectedUser.id
			},
		  	success : function success(data) {

			    var newEnt = $('.admin-user:first-child').clone();

			    newEnt.appendTo($('.admin-users-list'));

			    var eName = selectedUser.name;

			    newEnt.attr('id', selectedUser.id);

			    newEnt.find('.entity-image').attr('href', '/'+selectedUser.profileName);
			    newEnt.find('.entity-image img').attr('src', selectedUser.images.small.url);
			    newEnt.find('.admin-actions form').attr('action', '/admin/featured/<%= entityType %>/' + selectedUser.id + '?_method=DELETE');
			    newEnt.find('.admin-actions form .entityId').val(selectedUser.id);
			    newEnt.find('.card-mini-fullname').text(eName);
			    newEnt.find('.card-mini-fullname').attr('href', '/'+selectedUser.profileName);
			    newEnt.find('.card-mini-username').text(' · @' + selectedUser.profileName);
			    newEnt.find('.location').text(selectedUser.location + ' · ');
			    newEnt.find('.joined-at').text('Joined on'+  moment(selectedUser.createdAt).format('MMM, YYYY') );

			    reorder();

			},
			error : function error(err) {
			    console.log(err);
			}
		});

	});

	// Display users on search dropdown
	function showUsers(persons){

	    searchInput.element.find('.search-results').empty();

		var entityIds = getFeaturedIds();

	    persons.forEach(function(person){

			if(entityIds.indexOf(person.id) != -1){
				return false;
			}

	      	var personEl = personElBase.clone();
	      	personEl.attr('id', person.id);

        personEl.text(person.name);

	     	personEl.on('click', function(){
	        	setSelectedUser(person);
	      	});

	      	searchInput.element.find('.search-results').append(personEl);

	    });

	}

	function setSelectedUser(person){

		searchInput.enableButton();
		selectedUser = person;
		searchInput.inputEl.find('input').val( searchInput.element.find('.search-results').find('#'+selectedUser.id).text() );
		searchInput.element.find('.search-results').empty();
		searchInput.element.find('.search-results').hide();

	}

	function reorder(){

		var entityIds = getFeaturedIds();

	 	$.ajax({
            type : 'POST',
            url : '/admin/featured/' + entityType + '/updatePositions',
            headers : {'csrf-token' : $('meta[name="csrf-token"]').attr('content')},
            data : {entityIds : entityIds},
            dataType : 'json',
            success : function success(data) {

                console.log('reorder success');
            },
            error : function error(err) {

                console.log('error');
                console.log(err);

            }
        });

	}

	function getFeaturedIds () {
		var nodes = document.querySelectorAll('.admin-user:not(.gu-mirror)');
		var entityIds = [];

		Array.prototype.forEach.call(nodes, function( node ){
			entityIds.push(node.id);
		});

		return entityIds;
	}

</script>






















