<div class="notifications">

</div>

<div class="admin-users-list">

	<% topics.forEach(function(topic){ %>

		<% if (!topic.deleted) { %>

			<div class="admin-user ">

					<div class="admin-info">
						<article class="cv-voice-cover mini -clearfix widget" role="article">
							<a href="/topic/<%= topic.slug %>" class="-float-left" data-voice-anchor="" title="Battle of Castle Black voice">
								<img class="voice-cover" width="36" height="36" src="<%= topic.images.icon.url %>">
							</a>
							<div class="voice-content">
								<a href="/topic/<%= topic.slug %>" class="voice-cover-title voice-cover-title-anchor -font-semi-bold -tdn" data-voice-anchor="" title="Battle of Castle Black voice"><%= topic.name %></a>
								<div class="meta">
									<div class="author -inline-block">
										<a class="author-anchor" href="/topic/<%= topic.slug %>" title="<%= topic.slug %> profile">
											<span class="author-username"><%= topic.slug %></span>
										</a>
									</div>
								</div>
							</div>
							<div class="action"></div>
						</article>
					</div>

					<div class="admin-actions">

						<a href="/topic/<%= topic.slug %>" target="_blank"><button class="cv-button small">Show</button></a>
						<a href="topics/<%= topic.id %>/edit"><button class="cv-button small">Edit</button></a>
						<a >
							<form class="form-profile" action="/admin/topics/<%= topic.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
	      						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
								<button class="cv-button small">Delete</button>
							</form>
						</a>

					</div>

			</div>

		<% } %>

	<% }); %>


</div>

<script>
	var topics = <%= JSON.stringify(topics) %>;
	var headerEl = document.querySelector('header .header-actions');
	headerEl.innerHTML = '<h2>Organization List</h2>';

	var flash = <%= JSON.stringify(flash) %>;
	console.log(flash);
  if (flash.success){

  	var nEl= document.querySelector('.notifications');
		nEl.innerHTML = '<p>' + flash.success + '</p>';

  	nEl.style.display = 'block';
  	setTimeout(function(){
  		$(nEl).fadeOut(500);
  	}, 2000);
	}

</script>