<% var voiceInfo = params.voice; %>
<% var doerInfo = params.follower; %>

<% var voiceDate = new Date();  %>
<% var monthNames = ["January", "February", "March","April", "May", "June", "July","August", "September", "October","November", "December"];%>
<% var day = voiceDate.getDate(); %>
<% var monthIndex = voiceDate.getMonth(); %>
<% var year = voiceDate.getFullYear(); var voiceImage; %>
<% if(Object.getOwnPropertyNames(voiceInfo.images).length === 0){ voiceImage = CONFIG.siteUrl[application.env]+'/img/img-placeholder.png'; }else{ voiceImage = voiceInfo.images.small.url;} %>
<div style="margin:0 auto;">
<table bgcolor="#F7F9FA" style="width:100%;padding:30px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
  <tr>
    <td>
      <table align="center" border="0" cellspacing="0" cellpadding="0" style="max-width:550px;">
        <tr>
          <td style="text-align:center;">
            <p style="font-size:36px;color:#454B4D;margin-bottom:30px;">CrowdVoice.by</p>
              <p style="font-size:12px;color:#A1B0B3;margin-bottom:30px;"><%= monthNames[monthIndex] + ' ' + day +', ' + year %></p>
          </td>
        </tr>
        <tr>
          	<td style="box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.5); background-color: #FFFFFF; color: #4C4B49; border-radius: 0px; border-top:10px solid; border-top-color:#FF9400;">
			    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="padding: 40px 50px 20px 50px;">
			        <tbody>
			          	<tr>
			            	<td>
			              		<div>
			                		<p style="font-size:18px;color:black;font-weight:300;">Hello <%= params.receiver.entity.name %>, <a style="color:#FF9400;text-decoration:none;"href="<%= CONFIG.siteUrl[application.env] +'/'+ doerInfo.profileName %>" target="_blank"><%= doerInfo.name %></a> followed your Voice!
			                		</p>
			              		</div>
			            	</td>
			          	</tr>
			        </tbody>
			    </table>
			    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="padding:0px 50px 62px 50px;">
			        <tbody>
			          	<tr style="background-color:#F7F9FA;">
			            	<td style="padding: 25px 0px 25px 5px; text-align: center; width: 65px;">
			                	<img width="37px" height="37px" style="border-radius:5px;margin-right:5px;" src="<%= voiceImage %>"/>
			            	</td>
			            	<td style="padding-right:25px;">
			              		<a href="<%= CONFIG.siteUrl[application.env] +'/'+ voiceInfo.owner.profileName +'/'+ voiceInfo.slug %>" target="_blank" style="font-size:13px;color:#4D4D4D;text-align:left;font-weight:bold;"><%= voiceInfo.title %></a>
			              		<p style="font-size:12px;color:#A1B0B3;margin-top:5px;">by <%= voiceInfo.owner.name %></p>
			            	</td>
			          	</tr>
			        </tbody>
			    </table>
          	</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
       	<div style="padding: 40px 0 0 0; color: #66635c;text-align:center;">
	        <a target="_blank" href="https://twitter.com/CrowdVoice" style="padding: 0px 10px;text-decoration:none;vertical-align:super;">
	          	<img src="<%= CONFIG.siteUrl[application.env] %>/img/icons/icon-circle-twitter.png"/>
	        </a>
	        <a target="_blank" href="<%= CONFIG.siteUrl[application.env] %>" style="padding: 0px 10px;text-decoration:none;vertical-align: middle;">
	          	<img src="<%= CONFIG.siteUrl[application.env] %>/img/icons/icon-logo-cv.png"/>
	        </a>
	        <a target="_blank" href="https://www.facebook.com/crowdvoice" style="padding: 0px 10px;text-decoration:none;vertical-align:super;">
	          	<img src="<%= CONFIG.siteUrl[application.env] %>/img/icons/icon-circle-facebook.png"/>
	        </a>
            <p style="font-size:12px;color:A1B0B3;">© Majal, <%= year %>. All Rights Reserved</p>
            <p style="font-size:12px;color:A1B0B3;"><a style="color:#4d4d4d;" href="<%= CONFIG.siteUrl[application.env] + '/deactivateEmailSetting?s=selfNewVoiceFollower&u=' + params.uuid %>">Unsubscribe</a> from these emails.</p>
      	</div>
    </td>
  </tr>
</table>
</div>
