<div class="category-list topics-page">
	<div class="-row categories-cards-holder widget-responsive-slider">
	    <div class="rs-list-wrapper">
	        <div class="rs-list"></div>
	    </div>
	    <button class="rs-arrow rs-prev">
	        <svg class="rs-arrow-svg"><use xlink:href="#svg-arrow-left"></use></svg>
	    </button>
	    <button class="rs-arrow rs-next">
	        <svg class="rs-arrow-svg"><use xlink:href="#svg-arrow-right"></use></svg>
	    </button>
	    <div class="rs-dots"></div>
	</div>
</div>

<main role="main" class="cv-main-content topics-page -rel">
  <section class="profile-voices-intro">
      <h1 class="profile-heading -inline-block -font-bold -m0"><%= currentTopic.name %></h1>
      <div class="profile-select-options -inline-block">

      </div>

      <article role="article" class="profile-menu -row -rel">
        <div class="profile-tabs">
          <div class="menu-item active -menu-tab -inline-block tab-voices">
            <p class="-font-bold">Voices</p>
          </div>
          <div class="menu-item -menu-tab -inline-block tab-people">
            <p class="-font-bold">People</p>
          </div>
          <div class="menu-item -menu-tab -inline-block tab-organizations">
            <p class="-font-bold">Organizations</p>
          </div>

        </div>

      </article>

  </section>

  <section class="profile-body profile-menu-content -rel">


    <div class="active -menu-tab-content">
      <div class="-row discover-voices-container">
        <!-- voices -->
      </div>
    </div>

    <div class="-menu-tab-content">
    	<div class="-row discover-people-container">
        	<!-- people -->
      	</div>
    </div>

    <div class="-menu-tab-content">
    	<div class="-row discover-organizations-container">
        	<!-- organizations -->
      	</div>
    </div>


  </section>

</main>

<script>
  var App = new CV.App().setup();
  App.addInteractiveSidebar();

	$.ajax({
		type: "GET",
		url: '/topics',
		headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
		data : {},
		dataType : 'json',
		success: function(data) {
			renderTopics(data);
		}
	});

	function renderTopics(topics){
		var categories = topics;

	    var cardsHolder = document.querySelector('.categories-cards-holder');
	    var cardsList = cardsHolder.querySelector('.rs-list');

	    categories.map(function(item) {
	        var card = new CV.CategoryCover(item);
	        card.element[0].classList.add('rs-item');
	        return card.render(cardsList);
	    });

	    new CV.ResponsiveSlider({
	        element : cardsHolder,
	        dots : true,
	        minSlideWidth : 300
	    });
	}


	var responsives = {
    	'voices' 		: null,
    	'people' 		: null,
    	'organizations' : null
    }

	var items = [];

	function renderData(data, instance, className){

		var itemsWrapper = document.querySelector('.discover-' + className + '-container');
        var itemsElements = [];

        data.forEach(function(item, index) {
            var itemWidget = new instance({data:item}).render(itemsWrapper);
			itemWidget.element.addClass('id-' + item.id);
            itemsElements.push(itemWidget.el);
        });

        responsives[className] = new CV.ResponsiveWidth({
            container : itemsWrapper,
            items : [].slice.call(itemsElements, 0),
            minWidth : 300
        }).setup();

	}

	var voices = <%= JSON.stringify(voices) %>;
	if (voices.length == 0){
		$('.tab-voices').hide();
	}
	renderData(voices, CV.VoiceCover, 'voices');

	$.ajax({
		type: "GET",
		url: '/topic/<%= currentTopic.slug %>/people',
		headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
		data : {},
		dataType : 'json',
		success: function(data) {
			if (data.length == 0){
				$('.tab-people').hide();
			}
			renderData(data, CV.Card, 'people');

		}
	});
	$.ajax({
		type: "GET",
		url: '/topic/<%= currentTopic.slug %>/organizations',
		headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
		data : {},
		dataType : 'json',
		success: function(data) {
			if (data.length == 0){
				$('.tab-organizations').hide();
			}
			renderData(data, CV.Card, 'organizations');

		}
	});

	var itemsContainer;
	$( document ).ready(function() {
	  	itemsContainer = $('.profile-body');
	    createMenuActions('.profile-menu', '.profile-menu-content');

	    function createMenuActions(menuContainer, contentContainer){
	      $( menuContainer ).find('.-menu-tab').each(function( index ) {
	        var elContent = $( contentContainer + ' .-menu-tab-content:nth-child(' + (index + 1) + ')');
	        $(this).on('click', createCallback(this, index, elContent, menuContainer, contentContainer));
	      });
	    }

	    function createCallback( tab, index, elContent, menuContainer, contentContainer ){
	      return function(){
	        $(menuContainer + ' .-menu-tab').removeClass('active');
	        $(this).addClass('active');
	        $(contentContainer + ' .-menu-tab-content').removeClass('active');
	        $(elContent).addClass('active');
	        responsives['voices'].setup();
	        responsives['people'].setup();
	        responsives['organizations'].setup();
	      }
	    }

	});


</script>
